<h1><%= @venue.name %><br></h1>
<h2>Bookings</h2>
<% @venue.bookings.each do |booking| %>
    User: <%= booking.user.username %><br>
    From: <%= booking.from %><br>
    To: <%= booking.to %><br>
  <% end %>


  <%= link_to 'Book', new_venue_booking_path(@venue.id) %>